.container {
    margin-top: 130px;
}

.container h3 {
    margin: 30px 0;
    border-bottom: 4px solid #d39b00;
    width: fit-content;
    font-size: 1.8rem;
}

.container p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 30px;
    margin: 18px 0;
}

.container div {
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 1.1rem;
    color: #6d5000;
    border: 3px solid #d39b00 ;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media(max-width:1000px) {
    .container {
        padding: 10px;
    }
}